@model REGISTRAR.Models.Persona

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Hola,quieres eliminar esta persona ?</h3>
<div>
    <h4>Eliminar personas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechadenacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechadenacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correoelectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correoelectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correoelectronico2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correoelectronico2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccionfisica1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccionfisica1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccionfisica2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccionfisica2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Documentoidentidad" />
        <input type="submit" value="Borrar Registro de persona" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
